#creation-form {
    min-width: 300px;
    max-width: 500px;
    text-align: left;
    h2 {
      margin-bottom: 0.5em;
    }
    .MuiFormControl-root{
        width: 90%;
        margin-bottom: 0.5em;
    }
}