.deliverable-item {
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .deliverable-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div {
      padding: 0px 30px;
    }
  }

  .deliverable-text-area {
    width: 100%;
  }

  .grade-submission {
    width: 50%;
    justify-self: center;
    align-self: center;
  }

  .submit-button {
    align-self: center;
    width: 200px;
    margin: 10px;
  }
}
