#content {
  .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  margin-top: 1em;
  MuiCardContent-root {
    padding-bottom: 0px !important;
  }
  h2 {
    text-align: left !important;
  }
  #user-management {
    display: flex;
    #lists {
      display: flex;
    }
  }
}
