#content {
  margin-top: 1em;
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  MuiCardContent-root {
    padding-bottom: 0px !important;
  }
  h2 {
    text-align: left !important;
  }
  .admin-course-lists {
    display: block !important;
  }
  #prereq-list {
    margin-left: -10px;
    width: 96%;
  }
}
